{% extends './base.html' %} {% block content %} {% load static %}
<script type="text/javascript" src="{% static "data_models/js/address_lookup/bbr.js" %}"></script>
<script type="text/javascript" src="{% static "data_models/js/address_lookup/main.js" %}"></script>
<div id="address_lookup">
  <h1>Addresseopslag for {{address}}</h1>
<section>
  <header>
    <h5>BBR Data</h5>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#BbrTable" aria-expanded="true" aria-controls="BbrTable">
      Fold sammen
    </button>
  </header>
  <div id="BBR">
    <div class="collapse show" id="BbrTable">
      <table class="table table-bordered table-fit table-hover table-striped" style="margin:auto">
        <thead>
          <th>Felt</th>
          <th>Værdi</th>
        </thead>
        {% for field, value in bbr  %}
          <tr>
            <td>{{field}}</td>
            <td>{{value}}</td>
          </tr>
        {% endfor %}
      </table>
      </div>
  </div>
</section>
</div>

{% endblock %}