{% extends 'data_models/base.html' %}
{% load static %}
{% block content %}

<div id="user-action-container">
  <div>
    <span><i class="fa fa-map-marked-alt fa-4x"></i></span>
    <div>
      <h4>Kommunekort</h4>
      <p>Viser data på kommune niveau</p>
      <a href="{% url "muni_map" %}">
        Se kort  <i class="fa fa-long-arrow-alt-right"></i>
      </a>
    </div>
  </div>
  <div>
    <span><i class="fa-clock fa fa-4x"></i></span>
    <div>
      <h4>Data over tid</h4>
      <p>Viser data om huse i Danmark over tid</p>
      <a href="{% url "time_visualiser" %}">
        Se grafer <i class="fa fa-long-arrow-alt-right"></i>
      </a>
    </div>
  </div>
  <div>
    <span><i class="fa-house-user fa fa-4x"></i></span>
    <div>
      <h4>Samlet husdata</h4>
      <p>Viser data om huse i Danmark</p>
      <a href="{% url "scatter" %}">
        Se grafer <i class="fa fa-long-arrow-alt-right"></i>
      </a>
    </div>
  </div>
  <div>
    <span><i class="fa fa-chart-bar fa-4x"></i></span>
    <div>
      <h4>Histogrammer</h4>
      <p>Sammenlign tal mellem kommuner</p>
      <a href="{% url "hist_visualiser" %}">
        Se grafer <i class="fa fa-long-arrow-alt-right"></i>
      </a>
    </div>
  </div>
  <div>
    <span><i class="fa fa-map-marked-alt fa-4x"></i></span>
    <div>
      <h4>Danmarkskort</h4>
      <p>Viser data om huse som punkter i et Danmarkskort</p>
      <a href="{% url "map_visualiser" %}">
        Se kort <i class="fa fa-long-arrow-alt-right"></i>
      </a>
    </div>
  </div>
</div>


{% endblock %}
